{% extends 'body.html' %}

  {% block body %}

  <style>
    .states{
      border: 0;
      background-color: rgba(240, 248, 255, 0);
    }
    a{
      text-decoration: none;
    }
    .corCarro{
      width: 1rem;
      height: 1rem;
      border-radius: 3px;
      background-color: blanchedalmond;
      border: 1px solid black;
      filter: opacity(.5);
      filter: brightness(1);
    }
  </style>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Orçamentos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="{{ url('orcamento/criar') }}" type="button" class="btn btn-sm btn-outline-secondary">+ Criar</a>
      </div>

      <form data-url-busca="{{ url('buscar') }}" class="d-flex" role="search">
        <div class="input-group mb-0">
          <input type="text" id="busca" name="busca" class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
      </form>

    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Valor(R$)</th>
          <th scope="col">Cliente</th>
          <th scope="col">Telefone</th>
          <th scope="col">Veículo</th>
          <th scope="col">Placa</th>
          <th scope="col">Ano</th>
          <th scope="col">Data</th>
          <th scope="col">DDE</th>
          <th scope="col">Cor</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody id="buscaResult">
          {% for orcamento in orcamentos %}
          <tr>
            <td>
              <a href="{{ url('orcamento/'~orcamento.id) }}">
                👁
              </a>
            </td>
            <td>
              <a href="{{ url('contador/'~orcamento.id) }}" target="_blank">
                ⏱
              </a>
            </td>
            <td>{{ orcamento.total }}</td>
            <td>{{ orcamento.cliente }}</td>
            <td>{{ orcamento.tel }}</td>
            <td>{{ orcamento.veiculo }}</td>
            <td>{{ orcamento.placa }}</td>
            <td>{{ orcamento.ano }}</td>
            <td>{{ orcamento.dataR }}</td>
            <td>{{ orcamento.data_entrega }}</td>
            <td>
              <div class="corCarro cor{{ orcamento.id }} my-1"data-bs-toggle="modal" data-bs-target="#exampleModal{{ orcamento.id }}"></div>
             
            </td>
            <td>
              {% if orcamento.states != 0 %}
              <input type="text" id="urlStatus{{ orcamento.id }}" value="{{ url('orcamento/status/'~orcamento.id) }}" hidden>
              <button class="position-relative states btnStatus{{ orcamento.id }}" data-bs-toggle="modal" data-bs-target="#cancelar{{ orcamento.id }}" >
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle spanStatus{{ orcamento.id }}" id="1">
                  <span class="visually-hidden">New alerts</span>
                </span>
              </button>
              {% else %}
              <input type="text" id="urlStatus{{ orcamento.id }}" value="{{ url('orcamento/status/'~orcamento.id) }}" hidden>
              <button class="position-relative states btnStatus{{ orcamento.id }}" data-bs-toggle="modal" data-bs-target="#entregar{{ orcamento.id }}" >

                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle spanStatus{{ orcamento.id }}" id="0">
                  <span class="visually-hidden">New alerts</span>
                </span>
              </button>
              {% endif %}
            </td>
          </tr>
            <script>
                if('{{ orcamento.cor }}' != ''){
                document.querySelector('.cor{{ orcamento.id }}').style.backgroundColor = '{{ orcamento.cor }}'
              }else{
                document.querySelector('.cor{{ orcamento.id }}').style.backgroundColor = 'white'
              }
    </script>

    
<!-- Modal -->
<div class="modal fade" id="exampleModal{{ orcamento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cor do carro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="corEditar" action="{{ url('cor/editar') }}">
      <div class="modal-body">
          <input type="text" name="id" value="{{ orcamento.id }}" hidden>

          <div class="mb-3">
            <label for="loja" class="form-label">Nome da loja fornecedora</label>
            <input type="text" name="loja" value="{{ orcamento.nomeLojaTinta }}" class="form-control" id="loja">
          </div>
          <div class="mb-3">
            <label for="tintaNome" class="form-label">Nome da tinta</label>
            <textarea class="form-control" name="tintaNome" id="tintaNome" rows="3">{{ orcamento.nomeTinta }}</textarea>
          </div>
          <div class="mb-3">
            <label for="codigo" class="form-label">Código da tinta</label>
            <input type="text" name="codigo" value="{{ orcamento.codigoTinta }}" class="form-control" id="codigo">
          </div>
        </div>
        <div class="modal-footer">
          <label for="tinta{{ orcamento.id }}">Cor aproximada</label>
          <input type="color" name="tinta" id="tinta{{ orcamento.id }}" style="margin-right: 10rem;">
          <div class="btn btn-secondary" data-bs-dismiss="modal">Close</div>
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal cancelar entrega -->
<div class="modal fade" id="cancelar{{ orcamento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza de que deseja cancelar a entrega?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url('cancelar/entrega') }}">
      <div class="modal-body">
        <input type="text" name="id_orcamento" value="{{ orcamento.id }}" hidden>
        Ao clicar em cancelar a entrega será cancelada
      </div>
        <div class="modal-footer">
          <div class="btn btn-secondary" data-bs-dismiss="modal">Fechar</div>
          <button class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal data entrega -->
<div class="modal fade" id="entregar{{ orcamento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">O veículo foi realmente entregue?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{ url('entregar/servico') }}">
      <div class="modal-body">
        <input type="text" name="id_orcamento" value="{{ orcamento.id }}" hidden>
          <label for="dataEntrega" class="form-label">Data de entrega</label>

          <input type="text" class="form-control" name="dataEntrega" value="{{ dateNew() }}">
      </div>
        <div class="modal-footer">
          <div class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</div>
          <button class="btn btn-success">Entregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
     if('{{ orcamento.cor }}' != ''){
                document.querySelector('#tinta{{ orcamento.id }}').value = '{{ orcamento.cor }}'
              }else{
                document.querySelector('#tinta{{ orcamento.id }}').value = '#ffffff'
              }
</script>

        {% endfor %}


      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function (){
      $('#busca').keyup(function (){
          var busca = $(this).val();
          if(busca.length > 0){
    
              $.ajax({
                  url: $('form').attr('data-url-busca'),
                  method: 'POST',
                  data: {
                      busca: busca   
                  },
                  success: function (data) {
                    var dataLimp = data.replace(/[']/g, '"')
                    console.log(dataLimp)
                    $('#buscaResult').html(dataLimp)
                  }
              })
          }
      })

    })
  </script>


  {% endblock %}
