{% extends 'body.html' %}

{% block body %}

  <div class="container px-4 py-5" id="custom-cards">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Serviços</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a href="{{ url('tarefa/criar') }}" type="button" class="btn btn-sm btn-outline-secondary">+ Nova tarefa</a>
          </div>
    
          <form data-url-busca="{{ url('buscar/servico/funcionario') }}" class="d-flex" role="search">
            <div class="input-group mb-0">
              <input type="text" id="busca" name="busca" class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
          </form>
    
        </div>
      </div>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        {% if servicos %}
        {% for servico in servicos %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text" id="serviceTxt">
            {{ servico.servico }} - {{ servico.detalhe }}
          </p> 
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="{{ url('servico/'~servico.id_orcamento~'-'~servico.id_funcionario) }}" class="btn btn-sm btn-outline-secondary">Ver</a>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal{{ servico.id }}" class="btn btn-sm btn-outline-danger">Deletar</button>
            </div>
            <small class="text-muted">{{ contarTempo(servico.data) }}</small>
          </div>
        </div>
      </div>
    </div>

    
<!-- Modal -->
<div class="modal fade" id="exampleModal{{ servico.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja deletar a tarefa?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Ao clicar em confimar a tarefa será deletada.
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <a href="{{ url('deletar/'~servico.id) }}" class="btn btn-danger">Confirmar</a>
        </div>
    </div>
  </div>
</div>


      {% endfor %}
      {% else %}
      <h5>Nenhum serviço pedido</h5>
      {% endif %}
    </div>
  </div>

  <script>
    $(document).ready(function (){
      $('#busca').keyup(function (){
          var busca = $(this).val();
          if(busca.length > 0){
    
              $.ajax({
                  url: $('form').attr('data-url-busca'),
                  method: 'POST',
                  data: {
                      busca: busca   
                  },
                  success: function (data) {
                    var dataLimp = data.replace(/[']/g, '"')
                    console.log(dataLimp)
                    $('#buscaResult').html(dataLimp)
                  }
              })
          }
      })

    })
  </script>

  {% endblock %}